################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstCity/bin/Debug
/MyFirstCity/obj/Debug
